@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
	margin:0; 
	padding:0;
}
html {
	height: 100%;
}
body{
	color: #26282B;
    font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", "DotumChe", "Dotum", sans-serif;
    line-height: 1.3;
    height: 100%;
}

.login-page{	
	box-sizing:border-box;
	display:table;
	height:100%;
	
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.field-box-wrapper {
    max-width: 640px;
    display: table-cell;
    vertical-align: middle;
}
.field-box {
	border: 1px solid #C9CDD2;
    border-radius: 6px;
    position: relative;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    max-width: 600px;
}

.login-page .field-box>*{
	position: relative;
}

.logo{
	width: 100px;
    height: 100px;
    background-position: 0 -3348px;
    
	display: inline-block;
    background-repeat: no-repeat;
    
    vertical-align: middle;
    zoom: 1;
}

.field-box-name{
	margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #72787F;
}
.mainbox{
    content: ' ';
    display: table;
    clear: both;
}
.mucktip-account{
	padding-right: 19px;
    border-right-color: #C9CDD2;
    border-right-style: dashed;
    border-right-width: 1px;
    width: 280px;
    margin-top: 20px;
    float: left;
    text-align: right;
}

.field:first-child() {
	margin-top: 0;
}

.field {
	display: block;
	margin-top: 18px;
}

.invalid-message {
	display: none;
	float: right;
    padding-left: 10px;
    font-size: 10px;
    line-height: 1.8;
}
.input-group {
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-color: #C9CDD2;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    line-height: 1;
}
.input-wrapper {
    position: relative;
    overflow: hidden;
}
.input {
	width: 100%;
	border: 0;
	outline: none;
}
.forgot-link{
	display: block;
    margin-top: 5px;
    color: #72787F;
    font-size: 12px;
    line-height: 1;
}
.submit-btn {
	background-color: #EDA900;
	width: 115px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	border:0;
}

.side-services {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 250px;
	height: 200px;
	position: relative;
}
.side-services-wrapper {
	position: absolute;
	top: 60px;
	left: 50px;
}
.new-login {
	background-color: #EDA900;
	margin-top: 20px;
	width: 115px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	border:0;
}
.login {
	text-decoration: none;
	color: black;
}